.textHeader {
  list-style-type: none;
  transition: 0.5s linear;
  border-top: cornsilk 2px solid;
  background-color: #eedbd77c;
}

.selected {
  font-weight: bold;
}

.textHeader:hover {
  background-color: #827372;
  transition: 0.5s linear;
}
