.headerWrapper {
  height: 30vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
}

.headerPhoto {
  grid-area: 1 / 1 / 4 / 3;
  width: auto;
  background-image: url("C:\\Users\\Владислав Романович\\Desktop\\React\\JanneBLOG\\jannet-blog\\src\\images\\headerPhoto.jpg");
  background-size: cover;
}

.sloganWrapper {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-area: 2/2/3/4;
  font-family: "header";
}

.headerSlogan {
  font-size: 5vh;
  grid-area: 2/1/3/2;
}
.headerText {
  font-size: 9vh;
  font-weight: bold;
  grid-area: 1/1/3/2;
}

@font-face {
  font-family: "header";
  src: url("../../fonts/header.ttf");
}
